.edit-popup__input-text {
  max-width: calc(100% - 72px);
  width: 100%;
  margin: 0 36px 30px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.edit-popup__input-text:last-of-type {
  margin: 0 36px 48px;
}

@media all and (max-width: 400px) {
  .edit-popup__input-text {
    max-width: calc(100% - 32px);
    margin: 0 16px 30px;
  }

  .edit-popup__input-text:last-of-type {
    margin: 0 16px 48px;
  }
}