@import url(./__container/add-popup__container.css);
@import url(./__title/add-popup__title.css);
@import url(./__input-text/add-popup__input-text.css);
@import url(./__submit/add-popup__submit.css);
@import url(./__close-button/add-popup__close-button.css);

.add-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}