.popup__container {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -165px 0 0 -215px;
  border-radius: 10px;
}

@media all and (max-width: 550px) {
  .popup__container {
    max-width: 300px;
    margin: -165px 0 0 -150px;
  }
}